{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-dark rounded-3 border border-secondary">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold text-danger">Bienvenido a TC_PRODUCCIONES</h1>
        <p class="col-md-12 fs-4 text-muted">Tu sistema definitivo para la gestión y reserva de funciones de cine en tiempo real.</p>
        <hr class="my-4 border-secondary">
        <p>Explorá nuestra cartelera o iniciá sesión para gestionar tus reservas.</p>
    </div>
</div>
{% endblock %}